<app-index></app-index>
<!-- <div>
    <a href="/adminproduct/{{username}}/{{auth}}/{{role}}" class="btn btn-primary">Manage products</a> | 
    <a href="/adminuser/{{username}}/{{auth}}/{{role}}" class="btn btn-primary">Manage users</a>
</div> -->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-me-auto">
        <a href="/adminproduct/{{username}}/{{auth}}/{{role}}" class="btn btn-primary">Manage products</a> | 
        <a href="/adminuser/{{username}}/{{auth}}/{{role}}" class="btn btn-primary">Manage users</a>
    </div>
    </div>
</div>