<app-index></app-index>
<div class="alert alert-danger" *ngIf="status">
    <p>{{ status }}</p>
</div>
<a href="/createitem/{{username}}/{{auth}}/seller" class="btn btn-primary">Create product</a>
<section id="values" class="values">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 d-inline-block" *ngFor="let result of results">
          <div class="card" style="width: 13rem;">
            <div class="card-body">
              <a href="/detail/{{result.id}}/{{username}}/{{auth}}/seller"><img class="img-responsive" src="{{result.imgURL}}" height="150" width="150"></a>
              <div class="card-text"><a href="/detail/{{result.id}}/{{username}}/{{auth}}/seller">{{result.name}}</a></div>
              <div class="card-text">{{result.description}}</div>
              <p class="card-text">${{result.price}}</p>
              <a href="/updateitem/{{result.id}}/{{username}}/{{auth}}/seller" class="btn btn-primary">Update</a>
              <button class="btn btn-primary" (click)="deleteitem(result.id)">Delete</button>
            </div>
          </div>
          </div>
          </div>
    </div>
    </section>
