<app-index></app-index>
<div class="container">
<section class="col-xs-12 col-sm-6 col-md-12">
		<article class="search-result row" *ngFor="let searchresult of result; let i = index">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<a href="/detail/{{searchresult.id}}/{{username}}/{{auth}}/{{role}}" title="Lorem ipsum" class="thumbnail"><img class="img-responsive" src="{{searchresult.imgURL}}" alt="{{searchresult.name}}" height="150" width="150"/></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
				<h3><a href="/detail/{{searchresult.id}}/{{username}}/{{auth}}/{{role}}" title="">{{searchresult.name}}</a></h3>
				<p>{{searchresult.description}}</p>
				<div>${{searchresult.price}}</div>						
			</div>
			<span class="clearfix borda"></span>
		</article>
	</section>
</div>