<app-index></app-index>
<div class="container">
    <section class="col-xs-12 col-sm-6 col-md-12">
            <article class="search-result row" *ngFor="let searchresult of results; let i = index">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href="/detail/{{searchresult.id}}/{{username}}/{{auth}}/{{role}}" title="Lorem ipsum" class="thumbnail"><img class="img-responsive" src="{{searchresult.imgURL}}" alt="{{searchresult.name}}" height="150" width="150"/></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <p>{{searchresult.orderNum}}</p>
                    <h3><a href="/detail/{{searchresult.id}}/{{username}}/{{auth}}/{{role}}" title="">{{searchresult.name}}</a></h3>
                    <p>{{searchresult.amount}}</p>
                    <p>{{searchresult.orderstatus}}</p>
                    <div>${{searchresult.price}}</div>						
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <button class="btn btn-primary" (click)="approve(searchresult.orderNum)">Prove</button>
                </div>
                <span class="clearfix borda"></span>
            </article>
        </section>
    </div>