<app-index></app-index>
<div *ngIf="isloading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
</div>
<div class="row justify-content-md-center">
    <div class="col col-sm-6">
<form #shipform="ngForm" (ngSubmit)="shiporder(shipform)" *ngIf="!isloading">
    <div class="form-group">
        <label for="labelnum" class="labelnum">Shipping Number: </label>
        <input type="text" id="labelnum" class="form-control" ngModel name="labelnum" required>
    </div>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>
</div>
</div>