<app-index></app-index>
<div class="row justify-content-md-center">
    <div class="col-sm-3">
        <div *ngIf="isloading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="alert alert-success" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isloading">
            <div class="form-group">
                <label for="username" class="username">Username</label>
                <input type="text" class="form-control" id="username" ngModel name="username" required username>
            </div>
            <div class="form-group">
                <label for="password" class="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required password minlength="6">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" ngModel name="email" required email>
            </div>
            <div class="form-group">
                <label for="recovemail" class="recovemail">Recovery Email</label>
                <input type="text" class="form-control" id="recovemail" ngModel name="recovemail" required recovemail>
            </div>
            <div class="form-group">
                <label for="phone" class="phone">Phone</label>
                <input type="text" class="form-control" id="phone" ngModel name="phone">
            </div>
            <select name="role" id="role" class="form-group" ngModel name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
                <option value="seller">Seller</option>
            </select>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Create</button>
            </div>
        </form>
    </div>
</div>